@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa';
	background-color: rgb(11, 39, 116);
	color: rgb(255, 255, 255);
	font-size: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
	margin-top: 50px;
}

div {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 600px;
}

strong,
.strong {
	color: rgba(32, 32, 32, 0.517);
	font-weight: bold;
	font-style: italic;
	background-color: rgba(240, 248, 255, 0);
}

.newText {
	width: 500px;
	padding-bottom: 3px;
	border: none;
	border-bottom: 2px solid white;
	margin: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.newText:focus {
	outline: none;
}

p {
	text-align: center;
	opacity: 0.6;
	width: 100%;
}

ul {
	text-align: center;
	list-style-type: none;
}

li {
	position: relative;
}

article {
	width: 100%;
	border-radius: 15px;
	padding: 25px 70px;
	margin-bottom: 20px;
	background-color: rgb(224, 158, 72);
	box-shadow: 3px 3px 3px black;
}

small {
	margin-left: 5px;
	background-color: rgba(240, 248, 255, 0);
}

.clear {
	position: absolute;
	left: -30px;
	top: 25px;
	cursor: pointer;
}

.coolest {
	position: absolute;
	top: 20px;
	right: -230px;
	width: 40px;
	cursor: default;
	text-align: center;
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}